<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS">
    <meta name="description" content="Information about my website">
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <title>My web page</title>

</head>
<body>
    <div class = "container">
        <div class = "logo">
            <img src="../img/logo.svg" alt="logo image">
        </div>
        <form>
            <input name="email" type="text" placeholder="email@email.com">
            <input name="password" type="text" placeholder="password">
            <button>LOGIN</button>
        </form>

    </div>
    
</body>
</html>