<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS">
    <meta name="description" content="Information about my website">
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <title>My web page</title>

</head>
<body>
    <div class = "top-bar"></div>
    <div class = "container">
        <div class = "logo">
            <img src="../img/logo.svg" alt="logo image">
        </div>
        <div class = "login-container">
            <form>
                <button>Search</button>
                <button>Logout</button>
                <button>Add Coctail</button>
            </form>
        </div>
    </div>
    <div class = "bottom-bar"></div>
    
</body>
</html>