<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS">
    <meta name="description" content="Information about my website">
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="https://kit.fontawesome.com/88509a47d3.js" crossorigin="anonymous"></script>
    <title>My web page</title>

</head>
<body>
    <div class = "top-bar"></div>

    <div class = "container">
        <div class = "coctail-container">
            <button class="icon-button">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
            <button class="icon-button">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <div class = "coctail-row">
                <button class="coctail-button">
                    <img class = "coctail-image" src="../img/blue-coctail.jpg" alt="Ikona">
                    <span>Tekst na dole</span>
                </button>
                <button class="coctail-button">
                    <img class = "coctail-image" src="../img/blue-coctail.jpg" alt="Ikona">
                    <span>Tekst na dole</span>
                </button>
            </div>   

            <div class = "coctail-row">
                <button class="coctail-button">
                    <img class = "coctail-image" src="../img/blue-coctail.jpg" alt="Ikona">
                    <span>Tekst na dole</span>
                </button>
                <button class="coctail-button">
                    <img class = "coctail-image" src="../img/blue-coctail.jpg" alt="Ikona">
                    <span>Tekst na dole</span>
                </button>
            </div>  
        </div>  

        <div class = "ingredients-container">
            <button class="icon-button">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
            <button class="icon-button">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <div class = "search-bar">
                <input name="search-bar" type="text" placeholder="ingredient">
            </div>
            <div class = "ingredients-search-container">
                <button class="ingredient-button">
                    <img class = "ingredient-image" src="../img/rum.jpg" alt="Ikona">
                    <span>Tekst na dole</span>
                </button>
                <button class="ingredient-button">
                    <img class = "ingredient-image" src="../img/rum.jpg" alt="Ikona">
                    <span>Tekst na dole</span>
                </button>
                <button class="ingredient-button">
                    <img class = "ingredient-image" src="../img/rum.jpg" alt="Ikona">
                    <span>Tekst na dole</span>
                </button>
            </div>
            <div class = ingredients-picked-container>
                <button class="icon-button">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                <button class="icon-button">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button class="ingredient-picked-button">
                    <span>Tekst na dole</span>
                <button class="ingredient-picked-button">
                    <span>Tekst na dole</span>
                <button class="ingredient-picked-button">
                    <span>Tekst na dole</span>
                <button class="ingredient-picked-button">
                    <span>Tekst na dole</span>
            </div>
        </div>  
    </div>

    <div class = "bottom-bar"></div>
    
</body>
</html>