
@media only screen and (max-device-width: 450px) {
    .container {
        flex-direction: column;
    }
    .normal-button, .normal-input {
        padding: 2vw;
        font-size: 2vw;
        margin: 2vw;
    }

    .login-container {
        height: 50%;
    }
}