.normal-button {
    height: 8vw;
    font-size: 2vw;
}

@media only screen and (max-device-width: 450px) {
    .normal-button, .normal-input {
        border-radius: 20px;
        font-size: 3vw;
        margin: 2vw;
        padding: 5vw;
        height: 20vw;
    }
    .square-button{
        border-radius: 20px;
        font-size: 3vw;
        margin: 2vw;
        padding: 5vw;
        height: 20vw;
    }
    .vertical-buttons{
        width: 90%;
    }
    form {
        height: 70%;
    }

}
