body {
    margin: 0
}
* {
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #2A2F3C;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.logo {
    width: 80%;
}

.logo-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    caret-color: transparent;
    margin-left: 10vw;
}
.login-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    caret-color: transparent;
    margin-right: 10vw;
}
form {
    border-radius: 30px;
    padding:  2.5vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
    background: rgba(0, 0, 0, 0.125);
}
.normal-button {
    width: 80%;
    border-radius: 30px;
    background: rgba(99, 255, 227, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    caret-color: transparent;
    border: none;
    margin: 1vw;
    padding: 1vw;
    height: 8vw;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter, serif;
    color: #FFF;
    text-align: center;
    font-size: 2vw;
}
.vertical-buttons{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.square-button {
    border-radius: 30px;
    background: rgba(99, 255, 227, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    height: 8vw;
    width: 100%;
    border: none;
    margin: 0.5vw ;
    padding-top: 1vw;
    padding-bottom: 1vw;

    color: #FFF;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter, serif;
    font-size: 1.5vw;
}
.bar {
    caret-color: transparent;
    height: 50px;
    position: fixed;
}
.top-bar {
    top: 0;
    left: 0;
    right: 0;
    background: rgba(99, 255, 227, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(2px);
}

.bottom-bar {
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media only screen and (max-device-width: 450px) {
    .container{
        flex-direction: column;
    }
    .normal-button, .normal-input {
        border-radius: 20px;
        font-size: 3vw;
        margin: 2vw;
        padding: 5vw;
        height: 20vw;
    }
    .square-button{
        border-radius: 20px;
        font-size: 3vw;
        margin: 2vw;
        padding: 5vw;
        height: 20vw;
    }
    .vertical-buttons{
        width: 90%;
    }
    .login-container {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        margin: 0;
    }
    .logo-container{
        width: 50%;
        height: 30%;
        margin-left: 0;
        justify-content: center;
    }
    .logo {
        width: 75%;
        margin: 5vw;
    }
    form {
        margin: 5vw auto;
        width: 70%;
        height: 70%;
        justify-content: start;
        align-items: center;
    }

}
